.banner{
  width: 100vw;
  height: 60vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/background.png);
  background-position: center;
  background-size: cover;
}
.banner-text{
  color: white;

}
